.image {
    height: 10px;
    width: 10px;
}
.selected {
    height: 14px;
    width: 14px;
    font-size: large;
    font-weight: bold;
}
nav {
    display: table;
    flex-direction: row;
    flex-wrap: wrap;
}